html {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 0;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #171717;
    color: aqua;
}

.wrapper {
    margin: 1.25rem;
    height: 100%;
    min-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.125rem solid #474747;
    border-radius: 1rem;
    background-color: #243138;

}

.bayan__box {

    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bayan__title {
    margin: 1.875rem 0rem 3.125rem;
    transform: rotate(-10deg);
    font-size: 1rem;
    font-style: italic;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(233, 83, 29);
    text-shadow: 0.125rem 0.125rem 0.625rem #ca1d17;
}

.span1 {}

.span2 {
    transform: translateY(0.75rem);
    font-size: 1rem;
}

.span3 {
    transform: translateY(-0.5rem) translateX(-0.375rem);
    font-size: 1rem;
}

.bayan__list {
    border-radius: 1rem;
    border: 0.1rem solid #171717;
    overflow: hidden;
    width: 100%;
    margin-bottom: 2rem;
}


.bayan__link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 0.1rem solid black;
    overflow: hidden;
    cursor: pointer;
    transition: all 2s;
}

.bayan__link:last-child {
    border-bottom: none;
}


.link__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    width: 90%;
    cursor: pointer;
}

.title__text {
    width: 75%;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    margin-left: 0.5rem;
}

.title__icon {
    background: url(./assets/img/plus.png) center no-repeat;
    background-size: cover;
    width: 0;
    height: 0;
    margin: 0.625rem;
}

.link__img {
    display: flex;
    align-items: center;
    justify-content: center;
    background: auto;
    transform: translateY(15.625rem);
    height: 0;
}

input:checked+.bayan__link .link__img {
    transform: translateY(0);
    height: auto;
    transition: all 1s;
}

input:checked+.bayan__link .link__img img {
    height: auto;
    width: 90%;
}
input:checked+.bayan__link .title__icon {
    transform: rotate(225deg);
    transition: transform 2s;
    width: 1.875rem;
    height: 1.875rem;
}


input {
    display: none;
}

@media (min-width:500px) {
    .bayan__title {
        font-size: 1.5rem;
    }
    .span2,
    .span3 {
        font-size: 1.25rem;
    }
    .title__text {
        font-size: 1.25rem;
    }
}

@media (min-width:1200px) {
    .bayan__title {
        font-size: 2.25rem;
    }
    .span2,
    .span3 {
        font-size: 1.875rem;
    }
    .title__text {
        font-size: 1.875rem;
    }

.bayan__link:active label,
.bayan__link:active .title__text,
.bayan__link:active .link__img img,
.bayan__link:active .title__icon{
    cursor: wait;
}
}
@media (hover:hover){
    .bayan__link:hover {
        background-color: #399ed4;
        height: auto;
        transition: all 2s;
    
    }
    
    .bayan__link:hover .link__img {
        height: auto;
        transform: translateY(0);
        transition: all 0.5s ;
    }
    
    .bayan__link:hover .link__img img {
        height: auto;
        width: 90%;
    }
    
    .link__img:hover img{
        box-shadow: 0 0 1.25rem 0.625rem #171717;
        transition:  box-shadow 1s;
        cursor: pointer;
        
    }
    
    .bayan__link:hover .title__text {
        color: antiquewhite;
    
    }
    
    .bayan__list:hover .title__icon {
        width: 1.875rem;
        height: 1.875rem;
    }
    
    .bayan__link:hover .title__icon {
        width: 1.875rem;
        height: 1.875rem;
        transform: rotate(225deg);
        transition: transform 2s;
    }
}

